<% @posts.each do |post| %>
    <div class="card">
        <h2 class="articleName"><%= post.id %> - <%= post.title %></h2>
        <p class="articleDescription"><%= post.description %></p>
        <%= link_to "Lire l'article", post_path(post.id), { :class=>"readButton" } %>
     </div>
<% end %>