<h1>Post Blog</h1>
</br>


<% @posts.each do |post| %>
    <div>
        <h2><%= post.id %> - <%= post.title %>
        <p><%= post.description %></p>
        <a><%= link_to "View more", post_path(post.id) %></a>
    </div>
<% end %>

