<h1 class="title">Liste des utilisateurs</h1>

<ul>
<% @users.each do |user| %>
    <li>
        <h2><%= user.username %> - <%= user.id %></h2>
        <p class="mail">Contact : <span><%= user.email %></span></p>
        <%= link_to "Aller à son profil", user_path(user.id), :class => 'profilLink' %>
    </li>
<% end %>
