// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";



/*
 * Bases
 */

@import 'base/reset';
@import 'base/variables';
@import 'base/base';

.card {
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 22px;
    position: relative;
    padding: 30px;

    .articleName {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1.5px;
        color: #505050;
        text-transform: uppercase;
    }

    .articleInfo {
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        color: #9a9a9a;
        width: 30%;
        padding: 15px;
        margin-top: -27px;

        .author {
            margin-bottom: 10px;

        }
    }

    .articleDescription {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        color: #505050;
    }

    .readButton {
        position: absolute;
        bottom: 18px;
        right: 18px;
        padding: 11px;
        background-color: #1f1f2e;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1.5px;
        cursor: pointer;
        transition: background .3s;

        &:hover {
            background-color: #2e2e41;
        }
    }

    .username {
        color: #949494;
        margin-top: -25px;
        margin-bottom: 20px;
    }

    .description {
        color: #292929;
        font-family: $second-font;
        line-height: 1.5;
        font-weight: bolder;
        max-width: 750px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .text {
        color: #292929;
        font-family: $second-font;
        line-height: 1.5;
        max-width: 750px;
        margin: 0 auto;
    }
}

.buttonGroup {
    display: flex;
    justify-content: center;

    a, form {
        display: inline-block;
        background-color: #420C14;
        color: white!important;
        height: 30px;
        width: 20%;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        margin: 0 20px;
        margin-top: 20px;
        text-align: center;
        padding-top: 6px;

        input {
            margin: 0;
            height: auto!important;
            border: none;
        }
    }
}
